*{
    margin: 0%;
    padding: 0%;
  

}
body{
    background: url(bckimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.heading{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    height:7vh;
    border-radius:50px;
    opacity: 40%;
    /* width:  */
    border:2px solid #000000;
    /* margin-left: 50px; */
    

}
.heading h2,h3{
    font-style:normal;
    font-family: 'Cabin', sans-serif;
    font-weight: bolder;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: underline;
    
}
.box{
  /* border: 2px solid red; */
  display: flex;
  height: 100vh;
  justify-content: center;
  /* background-color: #d3d5c6; */
  border: 2px solid rgb(136, 87, 87);
  border-radius: 50px;

}
.box1 {
    /* border: 2px solid blueviolet; */
    display: flex;
    justify-content: center;
    margin: 30px 3px 2px 3px ;
    padding: 19px 136px;
    color: rgb(255, 255, 255);
    background-color: #a1a4ae;
    border-radius: 25px;
    box-shadow: 8px 8px 5px 3px rgb(0, 0, 0);
    
    opacity: 90%;
    
    /* text-decoration: underline; */

}
.box a{
    text-decoration: none;
    font-size: 4vh;
    font-weight:bold ;
    color: white;
}
.box1 a:hover{
    color: rgb(17, 16, 16);
    text-decoration: underline;

}
.name{
text-align: center;
font-weight: bold;
border-radius: 10px;
opacity: unset;


}